#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  margin-top: 1rem;
}

.Search-results {
  width: 700px;
}

.playlist {
  width: 700px;
}
